<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Affichage de villes</title>
    <link rel="stylesheet" th:href="@{/images/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/villes}">Villes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/activites}">Activites</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link"
                       th:if="${session.client.admin != true }"  th:href="@{/compte}">Compte</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/deconnexion}">Deconnexion</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:if="${session.client.admin == true }"  th:href="@{/administration}">Administration</a>
                </li>


            </ul>

        </div>
    </nav>
</div>
<div class="row" >
    <div class="column" th:each="ville : ${listVilles}">
        <div class="flip-box">
            <div class="flip-box-inner" >
                <div class="flip-box-front">
                    <img th:src="@{${'images/villes/' + ville.nom_ville + '.jpg'}}" >
                </div>
                <div class="flip-box-back">
                    <a th:href="@{'/activites/' + ${ville.id }}"><h2>[[${ville.nom_ville}]]</h2></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
